.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: transform 0.4s ease, background 0.3s ease;
    background-color: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Ajout d'un effet de flou pour une apparence plus moderne */
    backdrop-filter: blur(5px);
}

/* Masquer la navbar lors du défilement vers le bas */
.navbar-container.hidden {
    transform: translateY(-100%);
}
/* Animation fluide pour les éléments du menu */
.nav-item {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.nav-item.visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}


.navbar-nav {
    gap: 1.25rem;
}
.nav-link ,li{
    font-weight: 500;
    font-size: 1.25rem;
    font-style: italic;
}
.nav-link {
    font-weight: 600;
    font-size: 1.3rem;
    font-style: italic;
    position: relative;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    perspective: 1000px;
}

/* Effet au survol : élévation et ombre subtile */
.nav-link:hover {
    color: var(--text-color);
    transform: translateY(-3px) scale(1.05) rotateX(10deg);
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* Effet sous-ligné premium */
.nav-link::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, var(--secondary-color), var(--highlight-color));
    transition: width 0.4s ease, left 0.4s ease;
}

/* Effet au survol du soulignement */
.nav-link:hover::after {
    width: 100%;
    left: 0;
}
/* Ajustements pour le mode sombre */
[data-theme="dark"] .navbar-container {
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] a {
    color: var(--text-color);
}
[data-theme="dark"] h2 {
    color: var(--text-color);
}
[data-theme="dark"] .navbar-toggler-icon {
    filter: invert(1); /* Inverse les couleurs, utile si l'icône est noire */
}

[data-theme="dark"] .navbar-toggler {
    border-color: var(--secondary-color);
}
[data-theme="dark"] .navbar-toggler-icon {
    filter: brightness(0) saturate(100%) invert(72%) sepia(16%) saturate(316%) hue-rotate(140deg) brightness(90%) contrast(85%);
}
[data-theme="dark"] .navbar-container {
    background-color: rgba(20, 20, 20, 0.9);
    color: var(--text-color);
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
}

[data-theme="dark"] .nav-link:hover {
    text-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
}